@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* This makes sure the main section takes up the remaining space */
}

footer {
  background-color: #007bff;
  color: white;
  padding: 1rem 0;
  text-align: center;
}